.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #b62929;
}

table {
  color: rgb(184, 184, 190);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #794343;
}

.header-row {
    background: #1268be;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}
@jpgfour
jpgfour commented on Apr 7